<div class="row">
    <div class="col-md-3">
        <div ng-include="includes.templateNav"></div>
    </div>
    <div class="col-md-9">
        <div class="portlet lightest ">
            <h4>HTML5 Boilerplate</h4>

            <p>
                HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
            </p>

            <h4>Angular</h4>

            <p>
                AngularJS is a toolset for building the framework most suited to your application development.
            </p>

            <h4>Karma</h4>

            <p>Spectacular Test Runner for JavaScript.</p>
        </div>

    </div>
</div>