<div class="portlet lightest">
    <h4>Template features</h4>
    <ul>
        <li><a ng-href="#/template/general">General components</a> </li>
        <li><a ng-href="#/template/typo">Typography</a> </li>
        <li><a ng-href="#/template/buttons">Buttons</a> </li>
        <li><a ng-href="#/template/modals">Modals</a> </li>
        <li><a ng-href="#/template/portlets">Portlets</a> </li>
        <li><a ng-href="#/template/utilities">Utilities</a> </li>
    </ul>
    <h4>Widgets</h4>
    <ul>
        <li><a ng-href="#/template/wow-api">WoW data API</a> </li>
        <li><a ng-href="#/template/wow-progression">WoW Progression</a> </li>
        <li><a ng-href="#/template/wow-raid-icons">Raid Icons</a> </li>
        <li><a ng-href="#/template/darktip">DarkTip</a> </li>
    </ul>
</div>
